<html>
<head>
  <title>SLIT SCAN</title>
  <!---<link rel="stylesheet" href="style.css">-->
  
<style>
body {
    background-color: #000;
    color: #fff;
}

</style>
</head>

<body>
<div id="landing">
  <form>
  create session: 
  <input type="text" id="create-name" name="create" placeholder="name..">
  <button id="go-create" type="button" >GO</button>
  <br>
   <br>
   OR
    <br>
     <br>
  join sesssion:
  <input type="text" id="join-name" name="join">
  <button id="go-join" type="button">GO</button>
</form>
</div>
 
        <video id="remote-stream" muted="true" autoplay></video>
        <video id="local-stream" muted="true" autoplay></video>

  <script src="./compiled.js"></script>
</body>
</html>
